:root {
    --yellow: #ffb300;
    --bgblack: #121212;
    --white: #ffffff;
    --iconsash: #2b2a2a;
    --linear: linear-gradient(to right, var(--yellow), var(--white));
}

.heading {
    padding: 40px 0 30px 0;
    display: flex;
    justify-content: center;

}

.heading h1 {
    font-size: 6rem;
    letter-spacing: 10px;
    margin-left: 400px;
    position: relative;
    color: var(--iconsash);
    text-align: center;
}

.heading h1 p {
    font-size: 2rem;
    color: var(--white);
    position: absolute;
    left: 85px;
    top: 40px;
}

.heading h1 p span {
    color: var(--yellow);
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 400px;
    padding-bottom: 32px;
}

.about-wrapper h1 {
    color: var(--white);
    letter-spacing: 5px;
    margin-bottom: 20px;
}


.about-wrapper h4 {
    overflow: hidden;
    background: var(--linear);
    color: transparent;
    background-clip: text;
}
.about-wrapper h4 span {
    color: var(--white);
}

/* .hobis{
    width: 150px;
}
.hobis h5 {
    color: var(--white);
}

.hobis h5 span {
    position: relative;
    margin-right: 10px;
    padding: 8px;
    border-radius: 50px;
    overflow: hidden;
    background: var(--linear);
    color: var(--bgblack);
}

.hobis h5 span::before {
    content: "";
    position: absolute;
    top: 0;
    left: -40%;
    height: 100%;
    padding: 2px;
    border-radius: 30px;
    background-color: var(--yellow);
} */



@media all and (max-width:768px) {
    .about-wrapper {
        padding: 0;
    }
    .heading {
        padding: 0;
    }
    .heading h1{
        letter-spacing: 4px;
        margin: 0;
    }
}
@media all and (max-width:576px) {
    .about-wrapper {
        padding: 0;
    }
    .heading {
        padding: 0;
    }
    .heading h1{
        letter-spacing: 4px;
        margin: 0;
    }
}


.timeline-item{
position:relative;
padding-left:60px;
margin-bottom:50px;
}

.timeline-item::before{
content:"";
position:absolute;
left:18px;
top:0;
height:100%;
width:2px;
background:#2b2a2a;
}

.icon{
position:absolute;
left:0;
top:0;
width:36px;
height:36px;
background:#ffb300;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
color:black;
}