:root {
    --yellow: #ffb300;
    /* --yellow: #eb0066; */
    --bgblack: #121212;
    --white: #ffffff;
    --iconsash: #2b2a2a;
    --linear: linear-gradient(to right, var(--yellow), var(--white));
}

.about-wrapper {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.heading {
    padding: 40px 0 30px 0;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

}

.heading h1 {
    font-size: 6rem;
    letter-spacing: 10px;
    position: relative;
    color: var(--iconsash);
    text-align: center;
}

.heading h1 p {
    font-size: 2rem;
    color: var(--white);
    position: absolute;
    left: 85px;
    top: 40px;
}

.heading h1 p span {
    color: var(--yellow);
}


.info-wrapper {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    width: 70%;
}

.about-content h1 {
    background: var(--linear);
    background-clip: text;
    color: transparent;
    letter-spacing: 5px;
    margin-bottom: 30px;
}

.prsenolContent {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.prsenolContent .info {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    /* gap: 10px; */
}

.tag {
    /* width: 120px; */
    text-align: center;
    background: var(--linear);
    color: transparent;
    background-clip: text;
}

.tag2 {
    width: max-content;
    color: var(--white);
}


.about-content {
    width: 85vw;
    display: flex;
    justify-content: center;
}

.study-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    /* border: 1px solid red; */
}

.study-wrapper h1 {
    padding-right: 40px;
}

.study-wrapper .study-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    column-gap: 20px;
    row-gap: 20px;
}

.study-box .study {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    border-radius: 30px;
    padding: 5px 20px;
    box-shadow: 0 0 40px var(--iconsash);

}


.study-box .study h5,
p,
span {
    padding: 6px 0;
    margin: 0;
    color: var(--white);

}

.study-box .study .badge,
.percentege {
    background: var(--linear);
    color: transparent;
    background-clip: text;
}

.about-btns {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.about-btns p {
    padding: 2px 4px;
    font-size: 1.6rem;
    border-radius: 50%;
    background-color: var(--yellow);
    color: var(--white);
    transition: .8s;
}

.about-btns a:hover p {
    transform: rotate(-30deg);
}


@media all and (max-width:768px) {
    .about-wrapper {
        padding-bottom: 12vh;
    }

    .info-wrapper {
        padding: 0;
        width: 100%;
        align-items: center;
    }

    .prsenolContent .info {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .heading {
        padding: 0;
        margin-bottom: 0px;
    }

    .heading h1 {
        letter-spacing: 4px;
        margin: 0;
    }

    .about-content {
        width: 100vw;
        padding: 30px;
        row-gap: 20px;
        /* display: flex; */
        align-items: center;
        /* justify-content: center; */
        flex-wrap: wrap;
    }

    .tag {
        width: 120px;
    }

    .study-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .study-box .study {
        width: 300px;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
    }

    .study-box .touch {
        gap: 30px;
        padding: 20px 13px;
    }

    .study-wrapper .study-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        /* border: 1px solid red; */

    }

    .about-btns {
        display: flex;
        flex-direction: row;
        gap: 13px;
    }
}

@media all and (max-width:576px) {
    .info-wrapper {
        padding: 0;
        width: max-content;
    }

    .heading {
        padding: 0;
        margin-bottom: 0px;
    }

    .heading h1 {
        letter-spacing: 4px;
        margin: 0;
    }

    .about-content {
        width: 100vw;
        padding: 30px;
        row-gap: 30px;
        /* display: flex; */
        align-items: center;
        /* justify-content: center; */
        flex-wrap: wrap;
    }

    .btns p {
        font-size: 1.3rem;
    }

    .prsenolContent .info {
        display: flex;
        align-items: center;
        gap: 10px;
    }


}