:root {
    --yellow: #ffb300;
    /* --yellow: #eb0066; */
    --bgblack: #121212;
    --white: #ffffff;
    --iconsash: #2b2a2a;
    --linear: linear-gradient(to right, var(--yellow), var(--white));
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.contact-content {
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contact-content .left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.contact-content .left h4 {
    color: var(--yellow);
    padding: 0;
    margin: 0;
}

.contact-content .left .cont {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-content .left .cont span {
    padding: 0;
    margin: 0;
    /* background: var(--linear); */
    color: var(--yellow);
    font-size: 2.5rem;
    padding: 2px 6px;
    border-radius: 50%;
}

.contact-content .left .cont .content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: start;
}

.contact-content .left .cont .content p,
h6,
a {
    margin: 0;
    padding: 0;

}

.contact-content .left .cont .content .badge {
    font-size: 1.2rem;
    background: var(--linear);
    background-clip: text;
    color: transparent;
}

.contact-content .left .cont .content h6 {
    color: var(--white);
}

.contact-content .left .cont .content a {
    color: var(--white);
}

.contact-btns {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.contact-btns p {
    padding: 2px 4px;
    font-size: 1.6rem;
    border-radius: 50%;
    background-color: var(--yellow);
    color: var(--white);
    transition: .8s;
}

.contact-btns a:hover p {
    transform: rotate(-30deg);
}

.contact-content .right {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 500px;
}

.contact-content .right .name {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;

}

.contact-content .right .name input {
    width: 50%;
    border: none;
    height: 50px;
    border-radius: 30px;
    padding: 0 30px;
    color: var(--yellow);
    background-color: var(--iconsash);
}

.contact-content .right .name input:focus {
    outline: 1px solid var(--yellow);
}

.contact-content .right .contact input {
    width: 100%;
    border: none;
    height: 50px;
    background: transparent;
    border-radius: 30px;
    padding: 0 30PX;
    color: var(--yellow);
    background-color: var(--iconsash);
}

.contact-content .right .contact input:focus {
    outline: 1px solid var(--yellow);
}

.contact-content .right .contact textarea {
    width: 100%;
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 20px 30px;
    color: var(--yellow);
    background-color: var(--iconsash);
}

.contact-content .right .contact textarea:focus {
    outline: 1px solid var(--yellow);
}

::placeholder {
    color: var(--yellow);
}


@media all and (max-width:576px) {
    .contact-content .right {
        padding-bottom: 3vh;
    }

    .heading {
        padding: 0;
    }

    .heading h1 {
        font-size: 5rem;
        letter-spacing: 2px;
        margin: 0;
    }

    .heading h1 p {
        left: 70px;
        top: 25px;
    }

    .contact-content .right .name input {
        padding: 0 20px;
    }

    .contact-btns {
        display: flex;
        flex-direction: row;
        gap: 19px;
        /* border: 1px solid red; */
    }

}

@media all and (max-width:768px) {
    .contact-content {
        padding-bottom: 16vh;
    }

    .heading {
        padding: 0;
        padding: 15px 0;
    }

    .heading h1 {
        font-size: 5rem;
        letter-spacing: 2px;
        margin: 0;
    }

    .heading h1 p {
        left: 70px;
        top: 25px;
    }

}