:root {
    --yellow: #ffb300;
    /* --yellow: #eb0066; */
    --bgblack: #121212;
    --white: #ffffff;
    --iconsash: #2b2a2a;
    --linear: linear-gradient(to right, var(--yellow), var(--white));
}

.skill-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    overflow: hidden;
}

.skill-wrapper .skillbox {
    width: 90vw;
    padding: 20px;
    /* width: 80vw; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 150px;
    row-gap: 50px;
}

.skillbox .skill-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    transform-style: preserve-3d;
}

.skillbox .skill-icon .top {
    /* border-radius: 50%; */
    border: 1px solid green;
    background-color: var(--white);
    display: grid;
    place-content: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.skillbox .skill-icon .top h2 {
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    font-size: 4rem;
}

.skillbox .skill-icon .top .html {
    color: orangered;
    border-radius: inherit;
}

.skillbox .skill-icon .top .css {
    color: #0f97d6;
    border-radius: inherit;
}

.skillbox .skill-icon .top .boot {
    color: blue;
    border-radius: inherit;
}

.skillbox .skill-icon .top .js {
    color: var(--yellow);
    border-radius: inherit;
}

.skillbox .skill-icon .top .react {
    color: #52b1c7;
    border-radius: inherit;
}

.skillbox .skill-icon .top .node {
    color: #5a9e49;
    border-radius: inherit;
}
.skillbox .skill-icon .top .git {
    color: black;
    border-radius: inherit;
}



.skillbox .skill-icon .top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.skillbox .skill-icon .bottom {
    padding: 10px;
}

.skillbox .skill-icon .bottom h2 {
    font-size: 1.5rem;
    color: var(--white);
}

/* .skills .skill-icon:hover img{
    transform: perspective(200px)  scale(1.3);
    box-shadow: 0 0 10px var(--yellow);
} */
.skillbox .skill-icon1 {
    will-change: transform;

    animation: trans1 5s infinite ease-in-out;

}

.skillbox .skill-icon2 {
    will-change: transform;

    animation: trans2 6s infinite ease-in-out;

}

@keyframes trans1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes trans2 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(40px);
    }

    100% {
        transform: translateY(0);
    }
}


.skill-wrapper .heading {
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

}

.skill-wrapper .heading h1 {
    font-size: 5rem;
    letter-spacing: 10px;
    position: relative;
    color: var(--iconsash);
    text-align: center;
}

.skill-wrapper .heading h1 p {
    font-size: 2rem;
    color: var(--white);
    position: absolute;
    left: 140px;
    top: 25px
}

.skill-wrapper .heading h1 p span {
    color: var(--yellow);
}

@media all and (max-width:768px) {

    .skill-wrapper {
        gap: 0px;
    }

    .skill-wrapper .skillbox {
        gap: 60px;
        padding-bottom: 60px;
    }
    .skillbox .skill-icon1 {
        animation-play-state: paused;
    }

    .skillbox .skill-icon2 {
        animation-play-state: paused;
    }

}

@media (max-width:576px) {

    .skill-wrapper {
        gap: 10px;
    }

    .skill-wrapper .skillbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        padding-bottom: 60px;
    }

    .skillbox .skill-icon {
        width: 80px;
    }

    .skill-icon .top h2 {
        font-size: 35px;
    }

    .skill-icon .bottom h2 {
        font-size: 16px;
    }



    .skillbox .skill-icon1 {
        animation-play-state: paused;
    }

    .skillbox .skill-icon2 {
        animation-play-state: paused;
    }

    .skill-wrapper .heading {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

    }

    .skill-wrapper .heading h1 {
        font-size: 4rem;
        letter-spacing: 4px;
        position: relative;
        color: var(--iconsash);
        text-align: center;
    }

    .skill-wrapper .heading h1 p {
        font-size: 2rem;
        color: var(--white);
        position: absolute;
        left: 105px;
        top: 15px
    }

}