@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--iconsash);
}

::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
  border-radius: 30px;
  border: 3px solid var(--iconsash);
}

:root {
  --yellow: #ffb300;
  /* --yellow: #eb0066; */
  --bgblack: #121212;
  --white: #ffffff;
  --iconsash: #2b2a2a;
  --linear: linear-gradient(to right, var(--yellow), var(--white));
}


.mode{
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 999;
  padding: 5px 12px;
  border-radius: 30px;
  box-shadow: 0 0 5px var(--yellow);


  display: flex;
  align-items: center;
  gap: 10px;
}

.mode .light,.dark{
  color: var(--white);
  background-color: var(--iconsash);
  font-size: 1.2rem;
  padding: 4px 6px;
  border-radius: 50%;
}

header {
  /* height: 50vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: fixed;
  top: 30vh;
  right: 0;
  z-index: 999;
}

header .icons {
  font-size: 1.2rem;
  font-weight: 600;
  /* border: 1px solid red; */
  padding: 6px 9px;
  border-radius: 50px;
  background-color: var(--iconsash);
  color: var(--white);
}

header .icons:focus {
  background-color: var(--yellow);
}


header .hom,
.abt,
.port,
.minpro,
.res,
.skl,
.cnt {
  position: relative;
}

header .hom::after {
  /* border: 1px solid red; */
  content: "Home ";
  height: 100%;
  letter-spacing: 4px;
  position: absolute;
  top: 0;
  right: 100%;
  background-color: var(--yellow);
  opacity: 0;
  padding: 5px 20px 5px 20px;
  border-radius: inherit;
  transition: .2s;
}

header .hom:hover::after {
  right: 0;
  opacity: 1;
}

header .abt::after {
  /* border: 1px solid red; */
  content: "About";
  height: 100%;
  letter-spacing: 5px;
  position: absolute;
  top: 0;
  right: 100%;
  background-color: var(--yellow);
  opacity: 0;
  padding: 5px 20px 5px 20px;
  border-radius: inherit;
  transition: .2s;
}

header .abt:hover::after {
  right: 0;
  opacity: 1;
}

header .port::after {
  /* border: 1px solid red; */
  content: "Project";
  height: 100%;
  letter-spacing: 5px;
  position: absolute;
  top: 0;
  right: 100%;
  background-color: var(--yellow);
  opacity: 0;
  padding: 5px 20px 5px 20px;
  border-radius: inherit;
  transition: .2s;
}

header .port:hover::after {
  right: 0;
  opacity: 1;
}
header .minpro::after {
  /* border: 1px solid red; */
  content: "MiniProject";
  height: 100%;
  letter-spacing: 5px;
  position: absolute;
  top: 0;
  right: 100%;
  background-color: var(--yellow);
  opacity: 0;
  padding: 5px 20px 5px 20px;
  border-radius: inherit;
  transition: .2s;
}

header .minpro:hover::after {
  right: 0;
  opacity: 1;
}

header .res::after {
  /* border: 1px solid red; */
  content: "Resume";
  height: 100%;
  letter-spacing: 5px;
  position: absolute;
  top: 0;
  right: 100%;
  background-color: var(--yellow);
  opacity: 0;
  padding: 5px 20px 5px 20px;
  border-radius: inherit;
  transition: .2s;
}

header .res:hover::after {
  right: 0;
  opacity: 1;
}

header .skl::after {
  /* border: 1px solid red; */
  content: "Skill";
  height: 100%;
  letter-spacing: 5px;
  position: absolute;
  top: 0;
  right: 100%;
  background-color: var(--yellow);
  opacity: 0;
  padding: 5px 20px 5px 20px;
  border-radius: inherit;
  transition: .2s;
}

header .skl:hover::after {
  right: 0;
  opacity: 1;
}

header .cnt::after {
  /* border: 1px solid red; */
  content: "Contact";
  height: 100%;
  letter-spacing: 5px;
  position: absolute;
  top: 0;
  right: 100%;
  background-color: var(--yellow);
  opacity: 0;
  padding: 5px 20px 5px 20px;
  border-radius: inherit;
  transition: .2s;
}

header .cnt:hover::after {
  right: 0;
  opacity: 1;
}

@media all and (max-width:768px) {

  header {
    position: fixed;
    height: 10vh;
    width: 90%;
    top: 80vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--iconsash);
    margin-right: 5%;
    gap: 15px;
    border-radius: 10px;
  }

  header .icons {
    font-size: 2rem;
    padding: 15px 20px;
    transition: .5s;
    background-color: var(--bgblack);
  }

  header .icons:focus {
    background-color: var(--yellow);
  }

  header .hom::after {
    display: none;
  }

  header .abt::after {
    display: none;
  }

  header .port::after {
    display: none;
  }
  header .minpro::after {
    display: none;
  }

  header .res::after {
    display: none;
  }

  header .skl::after {
    display: none;
  }

  header .cnt::after {
    display: none;
  }



}

@media all and (max-width:576px) {
  header {
    height: 10vh;
    width: 90%;
    margin-right: 5%;
    position: fixed;
    top: 80vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: var(--iconsash);

    border-radius: 10px;
  }

  header .icons {
    font-size: .8rem;
    padding: 10px 12px;
    transition: .5s;
    background-color: var(--bgblack);
  }
}






.all-wrapper {
  background-color: var(--bgblack);
  min-height: 100vh;
  display: grid;
  row-gap: 60px;
}

.BTN .button {
  padding: 10px 65px 10px 15px;
  position: relative;
  border-radius: 30px;
  display: inline-flex;
  border: none;
  outline: none;
  background: transparent;
  /* color: var(--white); */
  overflow: hidden;
  text-decoration: none;
  /* border: 1px solid red; */
  box-shadow: 0 0 5px var(--yellow);
}

.BTN .button p {
  height: 100%;
  width: 29%;
  background-color: var(--yellow);
  position: absolute;
  top: 0px;
  right: 0px;
  /* color: var(--white); */
  font-size: 1.5rem;
  /* padding: 0 4px; */
  border-radius: 50%;
  z-index: 9;
  /* border: 1px solid red; */
  display: grid;
  place-content: center;
}

.BTN .button span {
  width: max-content;
  position: relative;
  z-index: 9;
}

.BTN .button::after {
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--yellow);
  width: 0;
  /* border-radius: inherit; */
  transition: .3s;
}

.BTN .button:hover::after {
  width: 100%;

}



/* 
.fa-brands.dark{
    color: var(--bgblack);
} */



.buzz-float {
  display: inline-block;
  padding: 1px 2px;
  background: var(--yellow);
  border: none;
  border-radius:30px;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease;
}

/* Shadow */
.buzz-float::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 70%;
  height: 10px;
  background: var(--linear);
  border-radius: 50%;
  filter: blur(6px);
  opacity: 0;
  transition: all 0.3s ease;
}

/* Hover */
.buzz-float:hover {
  animation: buzzOut 0.6s linear;
}

.buzz-float:hover::before {
  opacity: 1;
  bottom: -20px;
}

/* Buzz Animation */
@keyframes buzzOut {
  10% { transform: translateX(3px) rotate(2deg); }
  20% { transform: translateX(-3px) rotate(-2deg); }
  30% { transform: translateX(3px) rotate(2deg); }
  40% { transform: translateX(-3px) rotate(-2deg); }
  50% { transform: translateX(2px) rotate(1deg); }
  60% { transform: translateX(-2px) rotate(-1deg); }
  70% { transform: translateX(2px) rotate(1deg); }
  80% { transform: translateX(-2px) rotate(-1deg); }
  90% { transform: translateX(1px); }
}



.resume-wrapper{
  display: grid;
  place-content: center;
}

.resume-wrapper .resume{
  border-radius: 30px;
  box-shadow: 0 0 90px 20px var(--iconsash);
  overflow: hidden;
  padding: 20px;
}



@media all and (max-width:576px) {
  .resume-wrapper iframe{
      width: 300px;
      height: 400px;
  }
}